/* aqui colocaremos uma nova coisa para estilizar dentro das chaves */
/* backgorund colocr também funciona para ancora */

*{
    margin: 0; 
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #DEA9DF;
    color: #88E9BA;
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho_menu_link {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 600;
    color: antiquewhite;
    text-decoration: none;
}
.titulo-destaque{
    color: #F9B2ED;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.apresentacao{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo{
    width: 615px;
}

.apresentacao_conteudo_titulo{
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.apresentacao_conteudo_texto{
    font-size: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.apresentacao_links_link{
    /* background-color: #AAF1B1; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #88E9BA;
    width: 280px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #FBEF88;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_subtitulo{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 24px;
}

.rodape {
    padding: 24px;
    color: #0000;
    background-color: aqua;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 400;
}
