
*{
    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: 'Times New Roman', Times, serif;

}

.container{

    width: 100%;

    height: 300px;

    background-color: pink;

    border: 2px solid black;

}

.item{

    background-color: palevioletred;

    border: 1px solid black;

}
