
:root {
    --cor-fundo: lightblue;
    --cor-principal: blue;
    --cor-texto: black;
}

body {
    font-size: 24px;
    line-height: 30px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

header, nav, section, footer {
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--cor-fundo);
    border: 1px solid #ddd;
}

/* responsividade */

@media only screen and (max-width: 600px) {
    body {
      font-size: 18px;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
      font-size: 22px;
    }
  }
  
  @media only screen and (min-width: 1025px) {
    body {
      font-size: 26px;
    }
  }

/* parte principal do site */

header img {
    max-width: 100px;
}

nav ul {
    text-align: center;
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: var(--cor-texto);
    text-align: center;
}

.promo img {
    max-width: 100%;
    text-align: center;
}

.frase-impacto {
    text-align: center;
    font-size: 1.2em;
    color: var(--cor-principal);
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
}

.produto img {
    max-width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: var(--cor-texto);
}

.produto {
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--cor-fundo);
    border: 1px solid #ddd;
    box-sizing: border-box;
}
    


