// serve para para colocar variaveis e deixar o codigo mais leve.

$text-color: blue;
$background-color: green;

// as variaveis aqui servem para alterar as cores todas de uma vez, sem precisar muda-las uma por uma.
$colors: (
    primary: royalblue,
    sucess: lightgreen,
    alert: yellow,
    danger: lightpink

)