/* variaveis */

:root {
  --cor-principal: rgb(20, 125, 160);
  --cor-secundaria: rgb(11, 61, 117);
  --cor-texto: rgb(255, 255, 255);
  --cor-fundoheader: black;
  --cor-sombreado: gray;
}

body {
  font-size: 24px;
  line-height: 30px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
}

/* responsividade */

@media(max-width:480px){
  body{
    font-size: 18px;
  }
}

@media(min-width:481px) and (max-width:768px){
  body{
    font-size: 22px;
  }
}

@media(min-width: 769px) and (max-width:1279px){
  body{
    font-size: 28px;
  }
}

@media(min-width:1280px){
  body{
    font-size: 30px;
  }
}

/* estilizações */

#p1{
  color: white;
}

header{
  background-color: var(--cor-secundaria);
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 10px gray;
}